<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

<!--    <meta-data-->
<!--        android:name="com.google.firebase.messaging.default_notification_icon"-->
<!--        android:resource="@drawable/ic_stat_ic_notification" />-->
<!--    <meta-data-->
<!--        android:name="com.google.firebase.messaging.default_notification_color"-->
<!--        android:resource="@color/colorAccent" />-->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel_id"
        android:value="@string/default_notification_channel_id" />

    <application
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <profileable
                android:shell="true"
                tools:targetApi="q" />

        <activity
                android:name=".ActivityAbout"
                android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
                android:exported="false"
                android:windowSoftInputMode="adjustResize"></activity>
        <activity
                android:name=".ActivityRun"
                android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
                android:exported="false"
                android:windowSoftInputMode="adjustResize"></activity>
        <activity
                android:name=".ActivityMain"
                android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
                android:exported="true"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />

                <data android:host="*" />

                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\.bas" />
                <data android:pathPattern=".*\\.qb" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.ACTION_VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>