<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-sdk tools:overrideLibrary="io.github.rosemoe.sora.lsp"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <profileable
            android:shell="true"
            tools:targetApi="q" />

        <activity
            android:name=".AboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".RunActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />

                <data android:host="*" />

                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\.bas" />
                <data android:pathPattern=".*\\.qb" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.ACTION_VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>